[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-cffi-examples = {editable = true, path = "."}
pytest = "~=6.0"

[requires]
python_version = "3.6"
